* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(235, 123, 62);
}

.container {
    background-color: white;
    height: 40vh;
    width: 40vw;
    padding: 32px;
    border-radius: 1rem;
}


form {
    padding-top: 16px;
}

form, select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 1.8rem;
    padding: 0.3rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    width: 6rem;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    background-color: white;
}

.msg {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.btn {
    height: 2.8rem;
    font-size: 16px;
    background-color: rgb(37, 2, 26);
    color: white;
    cursor: pointer;
}