* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}

h1 {
    background-color: rgb(229, 174, 63);
    color: rgb(255, 255, 255);
    height: 5rem;
    line-height: 5rem;
    font-size: 2.6rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.score-board {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    font-size: 1.8rem;
    gap: 5rem;
}

#rock {
    border-radius: 70%;
    border: 4px solid pink;
}

#paper {
    border-radius: 70%;
    border: 4px solid rgb(75, 31, 75);
}

#scissor {
    border-radius: 70%;
    border: 4px solid rgba(95, 172, 172, 0.752);
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
}

#user-score, #computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: rgb(236, 189, 132);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 25px;

}