body {
    background-color: rgb(48, 48, 48);
}

.container {
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin-top: 220px;
    background-color: rgb(255, 255, 255);
    max-width: 710px;
    padding-bottom: 50px;
}

.container h1 {
    margin-bottom: 25px;
}

.container h2 {
    margin-top: 25px;
}

#countDown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#countDown div {
    padding: 11px;
    background-color: blueviolet;
    border-radius: 5px;
    font-size: 29px;
    box-shadow: 0px 0px 5px;
    width: 100px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.progressContainer {
    height: 10px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}

.progressElement {
    height: 10px;
    width: 0%;
    background-color: rgb(78, 162, 0);
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

@media screen and (max-width : 450px) {
    #countDown {
        flex-direction: column;
    }
}