* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #488384;
    text-align: center;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    font-size: 8.5vmin;
    color: rgb(114, 9, 34);
    background-color: rgb(205, 179, 148);
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 2;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 0.8rem;
    border: none;
    font-size: 1rem;
}


#msg {
    color:rgb(242, 217, 184);
    font-size: 6vmin;
}

.msg-container {
    height: 35vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/* .hide {
    display: none;
} */
